html, body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#calc-body {
    display: flex;
    flex-flow: column wrap;
    background: black;
    height: 600px;
    width: 400px;
    gap: 30px;
    padding: 45px;
}

.populator {
    height: 90px;
    padding: 35px;
    color: #ff4adc;
}

.button-container {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    gap: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.digit, .function, .populator {
    background-color: black;
    text-shadow:
    /* White glow */
    0 0 10px #fff,
    0 0 13px #fff,
    0 0 24px #fff,
    /* Pink glow */
    0 0 45px #ff4adc,
    0 0 85px #ff4adc,
    0 0 95px #ff4adc,
    0 0 105px #ff4adc,
    0 0 156px #ff4adc;
    font-family: 'Silkscreen', cursive;
}

.digit, .function {
    align-self: stretch;
    flex: 1;
    color: #3dff98;
}

/* pixelated border */

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 16px),
    8px calc(100% - 16px),
    8px calc(100% - 8px),
    16px calc(100% - 8px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 8px) 16px,
    calc(100% - 8px) 8px,
    calc(100% - 16px) 8px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 8px,
    8px 8px,
    8px 16px,
    0px 16px);
  position: relative;
}
.pixel-corners {
  border: 8px solid transparent;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(8px 16px,
    16px 16px,
    16px 8px,
    calc(100% - 16px) 8px,
    calc(100% - 16px) 16px,
    calc(100% - 8px) 16px,
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 8px),
    16px calc(100% - 8px),
    16px calc(100% - 16px),
    8px calc(100% - 16px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 16px),
    8px calc(100% - 16px),
    8px calc(100% - 8px),
    16px calc(100% - 8px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 8px) 16px,
    calc(100% - 8px) 8px,
    calc(100% - 16px) 8px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 8px,
    8px 8px,
    8px 16px,
    0px 16px,
    0px 50%,
    8px 50%,
    8px 16px,
    16px 16px,
    16px 8px,
    calc(100% - 16px) 8px,
    calc(100% - 16px) 16px,
    calc(100% - 8px) 16px,
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 8px),
    16px calc(100% - 8px),
    16px calc(100% - 16px),
    8px calc(100% - 16px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3dff98;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -8px;
}